<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://papiunenkaorderfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/00a69d07-a34b-422e-b5c7-2468d0357a27/resourceGroups/papiunenkacloudx/providers/Microsoft.Web/sites/papiunenkaorderfunction</ResourceId>
    <UserName>$papiunenkaorderfunction</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://papiunenkaorderfunction.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>